Package: pipe-viewer
Version: 0.1.6
Architecture: all
Maintainer: fredx181
Installed-Size: 1100
Depends: perl, libjson-perl, libjson-xs-perl, libdata-dump-perl, libfile-sharedir-perl, libwww-perl, libterm-readline-gnu-perl, mpv | vlc, curl, libgtk3-perl,liblwp-protocol-https-perl,  wget, fonts-symbola 
Suggests: gcap, liblwp-protocol-https-perl, libtext-charwidth-perl, libterm-readkey-perl, libterm-ui-perl
Recommends: youtube-get3
Section: perl
Priority: optional
Conflicts: youtube-viewer, straw-viewer
Replaces: youtube-viewer, straw-viewer
Homepage: https://github.com/trizen/youtube-viewer
Description: A Gtk3 application for searching and streaming videos from YouTube.
 WWW-PipeViewer - a very easy interface to YouTube.
 Highly recommended: install mpv or vlc mediaplayer















































